* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  align-items: center;
  gap: 40px;;
  border: 1px dotted black;
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
  transform: translate(-10px, 50px);
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item.red:hover {
  background-color: pink;
  
}

.item.green {
  width: 100px;
  height: 100px;
  background-color: green;
  transform: rotate(45deg);
  animation-name: spin;
  animation-duration: 1s;
}

@keyframes spin {
from{
transform: rotate(0);
}
50%{
  transform: rotate(10deg);
}
  to {
transform: rotate(360deg);

  }
}

.item.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  transform: scale(1.5);
}

.item.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: skew(20deg, 20deg);
}
